<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather | Current</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <a href="home.html">
        <img src="./images/images(4).jpg" alt="logo"></a>
        <span><a href="home.html">Home</a></span>
        <span><a href="">Problems</a></span>
        <span><a href="">Rating</a></span>
        <span><a href="">Account</a></span>
    </nav>
    <h1>{{title}}</h1>

    <h1 class="error-message">404 NOT FOUND</h1>
</body>
</html>