<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather | Current</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <a href="">
        <img src="./images/images(4).jpg" alt="logo"></a>
        <span><a href="home.html">Home</a></span>
        <span><a href="">Problems</a></span>
        <span><a href="">Rating</a></span>
        <span><a href="">Account</a></span>
    </nav>
    <h1>{{title}}</h1>

    <section>
        <div class="main-app">
            <form action="">
                <input class="input-field" type="text", placeholder="Enter the city">
                <button class="search-button">Search</button>
            </form>
            <div class="icon-and-weather">
                <div class="icon">
                    <img src= "" alt="">
                </div>
                <div class="weatherinfo">
                    <div class="temperature">
                        <span></span>
                    </div>
                    <div class="weathercond"></div>
                </div>
            </div>
            <div class="place"></div>
            <div class="date"></div>
        </div>

        <script type="text/javascript" src="/web.js"></script>
    </section>

    <footer></footer>
</body>
</html>